/* These styles are written for COMP482 Assignment */

ion-icon {
  pointer-events: none;
}

#div_id_child_lives_with_guardian1 {
  margin-bottom: 0!important;
  margin-top: .75rem!important;
}

.roots-container {
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
  width: 4.5rem;
}

.roots-sidebar-icon {
  font-size: 1.5rem;
  max-width: 24px;
}

@media (min-width: 800px){
   .roots-container {
     flex-direction: row;
   }
}

